/* Enable smooth scrolling */
* { scroll-behavior: smooth }

/* Adjust <code> size */
code { letter-spacing: 0.05em; padding: .2em .4em .2em .4em }

/* Dark <code> */
code.d { background-color: #343a40; color: #f8f9fa }

/* Add margin on top of selected items (/page#item) */
h3 { scroll-margin-top: 5rem }

/* Background: blur */
.blurbg {
    backdrop-filter: blur(8px) !important;
    background-color: hsla(0, 0%, 100%, .88) !important
}

/* Adjust card shadows */
:root { --card-shadow: 0 1px 2px 0 rgba(0,0,0,.05) }
.card { box-shadow: var(--card-shadow) }
.card:hover { box-shadow: var(--card-shadow) }
